body {
  background-color: rgb(125, 126, 177);
}

.App-container {
  text-align: center;
  margin-top: 15%;
  color: white;
}

input {
  padding-left: 10px;
  width: 400px;
  height: 40px;
  font-size: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid white;
  background: white;
  color: gray;
}

.search-result-container {
  margin-top: 10px;
  width: 413px;
  margin:auto;
  margin-top: 5px;
  background: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search-result {
  padding: 10px 10px;
  text-align: left;
  color: gray;;
  font-size: 18px;
}

.search-result:hover {
  background: #F5F6FF;
  color: #959BCE;
}

.search-result:hover:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}